.quickfilters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quickfilters__row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.quickfilters--disabled {
  opacity: .5;
  pointer-events: none;
}
